body {
  overflow: hidden;
  font-family: sans-serif;
  a {
    text-decoration: none;
  }
}

.errorMessageColor {
  color: $light-red;
}

.completed, .uncompleted, .logo, .item, .to-do-footer p {
  transition: all .3s;
  transform: scale(1);
  &:hover {
    box-shadow: 6px 12px 20px black;
    transition: all .3s;
    transform: scale(1.05);
  }
}

.completed, .uncompleted {
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
}

.completed, .uncompleted, .add-item-block {
  @include block-design;
  display: flex;
  padding: 0 30px;
  align-items: center;
}

.to-do {
  width: 900px;
  margin: auto;
  margin-top: 70px;
}

.to-do-header{
  display: flex;
  height: 100px;
  justify-content: space-between;
}

.to-do-body {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .2s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}

